@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}
@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
}

body {
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
body * {
    box-sizing: border-box;
}

.header {
    background: #131313;   
}
.container {
    max-width: 1263px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;     
    align-items: center;
}
.logo {
    color: #E3B873;
}
.header-navigation {
     display: flex;
     list-style: none; 
     align-items: center;

}
.header-navigation__item {
    margin-right: 47px;
}
.header-navigation__item a {
    color: white;
    text-decoration: none;
}
.header-navigation__item a:hover {
    color: #E3B873;
}
.tel {
    text-decoration: underline;
    color: #E3B873;
    padding-right: 45px;
 }
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    border: 0;
    color: white;
    text-transform: uppercase;
    outline: 0;
}
.colortitle {
    color: #e3b873;
}
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
}
.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.title01 {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title02 {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 41px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: none;

}
.button1 {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 41px;
    color: white;
    outline: 0;
    background: transparent;
    text-decoration: none;
   
}
.button2 {
    border: 1px solid #FFFFFF;     
    border-radius: 2px;
    padding: 19px 22px;
    color: white;
    text-transform: uppercase;
    outline: 0;
    margin-left: 20px;
    background: transparent;
}

.button1:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer;
}
.button2:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer;
}

.section1 {
    background: #131313;
    height: 1074px;
    margin-top: 0;
} 
.section1-nav {

}
.container-navbar {
    display: flex;
    padding-top: 107px;    
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto 52px;
} 
.container-navbar__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}
.item1 {
    
}
.item2 {
    margin-left: 60px;
}
.item3 { 
     margin-left: 60px;
     padding-right: 125px;
} 
.container-navbar__item a {
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.section1-content {
    display: flex;
    justify-content: center;
} 
.section1_part1 {
    margin-left: 134px;
    margin-right: 50px;
}
.section1_part1__01 {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}
.section1_part1__02 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: white;
    text-transform: none;
    padding-top: 34px;
}
.section1_all4 {
    display: flex;
    flex-wrap: wrap;
    width: 403px;
    margin-top: 42px;
}
.section1_part1__03 {
    height: 73px;
    width: 161px;
    margin'
}
.section1_part2__04 {
    height: 52px;
    width: 213px;
}
.section1_part3__05 {
    height: 55px;
    width: 156px;
    margin-top: 34px;
}
.section1_part4__06 {
    height: 55px;
    width: 218px;
    margin-top: 34px;
    margin-left: 
}
.text1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 0 9px;
}
.text2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: none;
}
.img_photo2 {
    width: 679px;

    margin-right: 134px;
}