@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}
@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
}

body {
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
body * {
    box-sizing: border-box;
}

.header {
    background: #131313;   
}
.container {
    max-width: 1263px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;     
    align-items: center;
}
.logo {
    color: #E3B873;
}
.header-navigation {
     display: flex;
     list-style: none; 
     align-items: center;

}
.header-navigation__item {
    margin-right: 47px;
}
.header-navigation__item a {
    color: white;
    text-decoration: none;
}
.header-navigation__item a:hover {
    color: #E3B873;
}
.tel {
    text-decoration: underline;
    color: #E3B873;
    padding-right: 45px;
 }
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    border: 0;
    color: white;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
}
.colortitle {
    color: #e3b873;
}
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    position: relative;
}
.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.title01 {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title02 {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 41px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: none;

}
.button1 {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 41px;
    color: white;
    outline: 0;
    background: transparent;
    text-decoration: none;
   
}
.button2 {
    border: 1px solid #FFFFFF;     
    border-radius: 2px;
    padding: 19px 22px;
    color: white;
    text-transform: uppercase;
    outline: 0;
    margin-left: 20px;
    background: transparent;
}

.button1:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer;
}
.button2:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer;
}

.section1 {
    background: #131313;
    height: 1074px;
    margin-top: 0;
} 
.section1-nav {

}
.container-navbar {
    display: flex;
    padding-top: 107px;    
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto 52px;
} 
.container-navbar__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}
.item1 {
    
}
.item2 {
    margin-left: 60px;
}
.item3 { 
     margin-left: 60px;
     padding-right: 125px;
} 
.container-navbar__item a {
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.section1-content {
    display: flex;
    justify-content: center;
} 
.section1_part1 {
    margin-left: 134px;
    margin-right: 50px;
}
.section1_part1__01 {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}
.section1_part1__02 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: white;
    text-transform: none;
    padding-top: 34px;
    width: 442px;
}
.section1_all4 {
    display: flex;
    flex-wrap: wrap;
    width: 403px;
    margin-top: 42px;
}
.section1_part1__03 {
    height: 73px;
    width: 161px;
    margin'
}
.section1_part2__04 {
    height: 52px;
    width: 213px;
}
.section1_part3__05 {
    height: 55px;
    width: 156px;
    margin-top: 34px;
}
.section1_part4__06 {
    height: 55px;
    width: 218px;
    margin-top: 34px;
    margin-left: 
}
.navigation_bottons {
    display: flex;
    margin-top: 85px;
    flex-direction: row;

}
.arrow1 {
    color: white;
    margin-right: 30px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 18px;
}
.arrow2 {
    margin-left: 11px;
}
.text1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 0 9px;
}
.text2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: none;
}
.img_photo2 {
    width: 679px;
    margin-right: 134px;
}
.section2_all {
    display: flex;
    margin-top: -324px;
    text-align: center;
    flex-direction: column;
}
.section2_title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}
.section2_camlogo {
    display: flex;
    margin-top: 13px;
    margin-bottom: 31px;
    align-items: center;
}
.linelogo {
    background-color: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 2px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}
.section2_line1 {    
    margin-right: 8px;     
}
.section2_line2 {    
    margin-left: 8px;
}
.section2_main {
    display: flex;
    justify-content: center;  
}
.polygon {
    position: absolute;
    z-index: 2;
    margin-top: 203px;
    cursor: pointer;
}
.playbutton {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #E3B873;
    margin-top: 174px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2)
}
.dark {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 817px;
    height: 434px;
}
.section2_line {
    width: 55px; 
    height: 2px;
    border: none;
    background-color: #E3B873;
    border-radius: 30px;    
    margin-top: 62px;
    margin-bottom: 34px; 
}
.section2_text {    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    text-transform: none;
    width: 681px;
    margin: 0 auto;
}
.form {
    
    margin-top: 93px;

    
}
.form_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.form_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    text-transform: none;
    
}
.input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    margin-right: 58px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    padding-bottom: 8px;

}
.form_button {
    margin-left: -7px;
    height: 51px;
    width: 200px;
    margin-top: 15px;
}
.first-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;

}
.label {
    cursor: pointer;
        
}
.checkbox {
    display: none;
}
.fake {
     display: inline-flex;
     width: 18px;
     height: 18px;
     background: #E3B873;
     color: #fff;
     justify-content: center;
     margin-right: 9px;
     position: relative;
     
}
.fake::before{
     content:"\2714";
     opacity: 0;
     transition: .2s;
}
.checkbox:checked + .fake::before{
      opacity: 1;
}
.checkbox_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    text-transform: none;
    
}
.section3_all {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.section3_title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #181818;
    margin-top: 75px;
}
.section3_repairlogo {
    display: flex;
    margin-top: 13px;
    margin-bottom: 31px;
    align-items: center;
}
.section3_column {
    display: flex;
    justify-content: center;
}
.section3_column1 {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.section3_column3 {
    display: flex;
    flex-direction: column;
}
.section3_img1 {

} 
 
.section3_column__text {
    margin-left: 31px;
    margin-top: -127px;   
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 286px;


}
.section3_title1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 31px;
    text-transform: none;
}
.section3_title__ul {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    text-transform: none;

} 
.section3_column1__price {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.price {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 16px;
}
.section3_part {
    display: flex;


      
    
}
.section3_part__1 {
    display: flex;
    flex-direction: column;
    background: url(../images/image6.1.jpg);
    height: 645px;
    margin-top: 152px;

    
}
.section3_part0 {
    display: flex;
    flex-direction: row;
    
    margin-left: 349px;
    

}
.section1_part1__number {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;    
    width: 41px;
    height: 41px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin: 0;
}  
.section1_part1__text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    text-transform: none;
    margin-left: 17px;
    margin-top: auto;
    margin-bottom: auto;
    width: 316px;
} 
.part1 {
    margin-top: 70px;
}
.part2 {
    margin-top: 102px;
}
.part3 {
    margin-top: 102px;
}
.part4 {
    margin-top: 102px;
}
.section3_part__2 {
    margin-top: 53px;
   
}
.section3_part__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 258px;
    margin-left: 210px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    height: 509px;
}
.section3_part__text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: none;
    margin-top: 28px;
    margin-bottom: 39px;
}
.section3_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 49px;
}
.input2 {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
    margin-right: 49px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 8px;
    background: #131313;
}

.form_input2 {
    color: #FFFFFF80;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-transform: none;
    text-align: left;
}
.checkbox_text2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color:#FFFFFF;
    text-transform: none; 
}
.first-checkbox2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: -120px;


}
.label2 {
    cursor: pointer;
    
}
.checkbox2 {
    display: none;
}
.fake2 {
     display: inline-flex;
     width: 18px;
     height: 18px;
     background: #131313;
     color: #fff;
     justify-content: center;
     margin-right: 9px;
     position: relative;
     border: 1px solid white;
}
.fake2::before{
     content:"\2714";
     opacity: 0;
     transition: .2s;
     /*background-size: cover;
     background-color: #E3B873;*/

}
.checkbox2:checked + .fake2::before{
      opacity: 1;
      
      
      
}    
.form_button2 {
    margin-left: 244px;
    height: 51px;
    width: 213px;
    margin-top: 39px;
}
.save_money {
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    margin-right: 120px;

}
.save_icon {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2)
    
}    
.pig {
    margin: 19px 16px;
}
.save_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-transform: none;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.section4 {

    background: url(../images/frame.png) no-repeat;
     /*url(../images/frame2.png)no-repeat;*/
    
    background-position: bottom;
    height: 1107px;
    /*width: 100%;
    background-size: 100%;*/
}
.section4_all {
    margin-top: 151px;
}
.clients {
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.clients_our {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}
.clients_logo {
    display: flex;
    flex-direction: row;
}
.clients_recomend {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    text-transform: none;
    color: #363636;
    margin-top: 24px;
    margin-bottom: 39px;
}
.feedback {
    display: flex;
    justify-content: center;
}
.feedback1 {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

}
.feedback1_name1 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.feedback1_name1__text1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 23px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
    color: #181818;
}
.feedback1_text1 {
    /*width: 324xp;
    height: 216px;*/
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    text-transform: none;
    margin-left: 20px;
    margin-top: 22px;
    padding-bottom: 63px;
    margin-right: 31px;

}
.info_name1 {
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    height: 54px;
    width: 293px;
    
}
.info_client1 {    
    margin: 11px 15px 11px 17px;
}
.info_client1__data1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 14px;
    
    margin-top: 17px;
}
.separation {
    border-right: 0.75px solid #FFFFFF;
    height: 54px; 

}
.marginblock2 {
    margin-left: 54px;
    margin-right: 54px;
}
.section5 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;   
    background: green; /*url(../images/image 7.2.jpg);*/
    width: 100%;
    height: 950px;
    background-size: cover;
    position: relative;

}
.section5_block {
    display: flex;
    flex-direction: column;
    width: 883px;
    height: 445px;
    align-items: center;
    background: #181818;
    justify-content: space-around;
    margin-top: -222px;

}
.section5_part__text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
    margin-bottom: 40px;
}
.section5_form {
    display: flex;
    flex-direction: row;

   
}
.input3 {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 231px;
    
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 8px;
    background: #181818 ;

}
.form_input2 {


}
.input4 {
    margin-left: 58px;
}
.input5 {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 516px;    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 8px;
    background: #181818 ;
}
.checkbox3 {
    margin: 0;
    margin-top: 48px;
}
.form_button3 {
    width: 200px;
    height: 51px;
    margin-bottom: 34px;
    margin-top: 50px;
}
.section5_address {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 52px;
}
.section5_map {
    margin-top: 20px;
}
.section5_icon1 {
    margin-right: 20px;
}
.section5_map_address {
    margin-top: 40px;
}